@import "~antd/dist/antd.css";

/* App css */
.appNavbar {
  background-color: white;
  box-shadow: 0 0 30px 0px #d0d0d0;
}

.navbarButton {
  margin-left: 30px;
}

/* Home Page css*/
.home {
  height: 100vh;
}

/* ImageSide */

.imageSideContent {
  color: #023047;
  height: 100vh;
}

/* Login Form CSS */

.loginForm  {
  max-width: 400px;
  margin: auto;
  margin-top: 250px;
  
}

.loginFormHeading {
  text-align: center;
}

.loginForm .ant-form input {
  min-height: 40px;
  height: 45px;
}

.loginFormDownSide{
  display: flex;
  justify-content: space-between;
 margin-top: 0px;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #023047;
  border-color: #023047;
}



@media only screen and (max-width:480px) {
  .loginForm  {
    max-width: 300px;
    margin: auto;
    margin-top: 200px;
    
  }
}